SUPABASE_URL="https://adzcrrvqhaqtiwbdjrut.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFkemNycnZxaGFxdGl3YmRqcnV0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcyMjIzMDUsImV4cCI6MjA3Mjc5ODMwNX0.qP3P50HGs4wdjQ3JAqv4xGhHXCzOOZht5I2R-_lP-k4"